{% extends '../base.html'%}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>

        {%if not task_list %}
            <p>You have no tasks</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>end date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for all_tasks in task_list %}
                    <tr>
                        <td>
                            {{ all_tasks.name }}
                        </td>
                        <td>{{ all_tasks.start_date }}</td>
                        <td>{{ all_tasks.due_date }}</td>
                        <td>
                            {%if all_tasks.is_completed == False%}
                            <form method="post" action="{% url 'complete_task' all_tasks.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="is_completed" value="True">
                                <button>Complete</button>
                            {%else%}
                                {{ all_tasks.is_completed }}
                            {%endif%}
                              </form>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>
</main>
  {% endblock %}