{% extends '../base.html'%}
{% block content %}
<main>
    <div>
        <h1>Create new task</h1>
        <form method="post" enctype="Multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </from>
    </div>
  </main>
  {% endblock %}