{% extends '../base.html'%}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {%if not project %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for all_projects in project %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' all_projects.pk %}">{{ all_projects.name }}</a>
                                </td>
                                <td>{{ all_projects.tasks.all|length }}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%endif%}
        </div>
    </main>
{% endblock %}