{% extends '../base.html'%}
{% block content %}
    <main>
        <div>
            <h1>{{project_deets.name}}</h1>
            {% load markdownify %}
            {{ project_deets.description|markdownify }}
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {%if project_deets.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for all_details in project_deets.tasks.all %}
                            <tr>
                                <td>{{ all_details.name }}</td>
                                <td>{{ all_details.assignee }}</td>
                                <td>{{ all_details.start_date }}</td>
                                <td>{{ all_details.due_date }}</td>
                                <td>{{ all_details.is_completed }}</td>

                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else %}
                <p>This project has no tasks</p>

            {%endif%}
        </div>
    </main>
{% endblock %}